body{
background-color: rgb(40, 40, 92);
color: black;  
} 
section{
    background-color: red;
    padding-top:80px ;
    padding-bottom:80px ;
    display: flex;
    justify-content: center;
}
chamada-texto {
    margin: right 40px;
}
img;{
    height:200px;
    


